{% extends "main.html" %} {% block externals %} {% load staticfiles %}
<!-- Icons font CSS-->
<link
  href="{% static 'products/vendor/mdi-font/css/material-design-iconic-font.min.css' %}"
  rel="stylesheet"
  media="all"
/>
<link
  href="{% static 'products/vendor/font-awesome-4.7/css/font-awesome.min.css' %}"
  rel="stylesheet"
  media="all"
/>
<!-- Font special for pages-->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
  rel="stylesheet"
/>

<!-- Vendor CSS-->
<link
  href="{% static 'products/vendor/select2/select2.min.css' %}"
  rel="stylesheet"
  media="all"
/>
<link
  href="{% static 'products/vendor/datepicker/daterangepicker.css' %}"
  rel="stylesheet"
  media="all"
/>

<!-- Main CSS-->
<link
  href="{% static 'products/css/main2.css' %}"
  rel="stylesheet"
  media="all"
/>

{% endblock externals %} {% block content %}
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Create Product</h2>
      </div>
      <div class="card-body">
        <form
          method="POST"
          action="{% url 'product.create'%}"
          enctype="multipart/form-data"
        >
        {% csrf_token %}
          <div class="form-row m-b-55">
            <div class="name">Title</div>
            <div class="value">
              <div class="row row-space">
                <div class="col">
                  <div class="input-group-desc">
                    <input class="input--style-5" type="text" name="title"   required/>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Category</div>
            <div class="value">
              <div class="input-group">
                <div class="rs-select2 js-select-simple select--no-search">
                  <select name="subject"
                  class="form-control input--style-5"
                  id="category" required
                >
                  <option disabled="disabled" selected="selected"
                      >Choose option</option
                    >
                  {% for category in categories %}
                  <option>{{category.name}}</option>
                  {% endfor %}
                </select>
                 <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Image</div>
            <div class="value">
              <div class="input-group">
                <input type="file" class="form-control-file" id="image">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Icon</div>
            <div class="value">
              <div class="input-group">
                <input type="file" class="form-control-file" id="icon">
              </div>
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Body</div>
            <div class="value">
              <div class="row row-space">
                <div class="col">
                  <div class="input-group-desc">
                    
                    <textarea name="body" class="input--style-5" id="" cols="40" rows="20" required></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row p-t-20">
            <label class="label label--block"
              >Are you the maker of this product?</label
            >
            <div class="p-t-15">
              <label class="radio-container m-r-55"
                >Yes
                <input type="radio" checked="checked" name="exist" />
                <span class="checkmark"></span>
              </label>
              <label class="radio-container"
                >No
                <input type="radio" name="exist" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div>
            <button class="btn btn--radius-2 btn--red" type="submit">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block externalScripts %}
<script src="{% static 'products/vendor/jquery/jquery.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static 'products/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'products/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'products/vendor/datepicker/daterangepicker.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'products/js/global.js' %}"></script>
{% endblock externalScripts %}
