{% extends "main.html" %} {% block content %}
<main role="main">
  <div class="container">
    <h2 class="mt-5 mb-5 font-weight-bold">Search result for "{{query}}"</h2>
    <hr>
    <hr>
     {% for product in result %}
    <div class="row mb-4 border">
        
        <div class="col-2" >
            <a href="{% url 'product.show' product.id %}">
                <img
                class="img-fluid img-thumbnail"
                src="{{product.icon.url}}"
                class="card-img-top"
                
              />
            </a>
        </div>
        <div class="col-7">
            <div class="card-title font-weight-bold">{{product.title}}</div>
            {{product.summary}}
              <a href="{% url 'product.show' product.id %}" class="float-right"
                >Read full post</a
              >
        </div>
        <div class="col-3">
            <button class="btn btn-primary mt-5">Upvote {{product.total_votes}} <i class="fas fa-arrow-up"></i></button>
            {% if product.hunter == request.user %}
              <a class="btn btn-info float-right" href="{% url 'product.edit' product.id %}">Edit</a>
              <a class="btn btn-danger float-left" href="{% url 'product.delete' product.id %}">Delete</a>
            {% endif %}
          </div>
        
    </div>
    {% endfor %}
  </div>
</main>

{% endblock content %}
